{% extends 'base.html' %} 
{% block content %}
<div class="container mb-3">
   
        <h1>Events</h1>
      <a href="{{ url_for('userlogin') }}" class="btn btn-primary admin-visible add-event ">Add Event</a>
</div>

{% if var %}
<div class="input-group mb-3">
  
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="inputGroupFile01">
  </div>
</div>
{% endif %}

<div class="container mb-3">
    <div class="row">
{% for i in event %}
<div class="card col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <img src="{{ i['poster']}}" class="card-img-top" alt="...">
    <div class="card-body">
    
      <h5 class="card-title">{{ i['name'] }}</h5>
      <p class="card-text">{{ i['venue'] }}</p>
      <p class="card-text">{{ i['datetime'] }}</p>
      <a href="#" class="btn btn-primary">Learn More</a>
      <a href="#" class="btn btn-primary admin-visible">Edit</a>

    </div>
  </div>
  {% endfor %}
  </div>
</div>

{% endblock %}